.settings-page {
    min-height: calc(100vh - 90px);
    padding: 50px 7%;
    background: #f4f7fb;
}

.settings-header {
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap: 18px;
    margin-bottom: 35px;
}
.settings-page {
    min-height: 100vh;

    padding: 140px 7% 60px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

.settings-page::before {
    content: "";

    position: fixed;
    inset: 0;

    background: rgba(5, 20, 40, 0.55);

    z-index: 0;

    pointer-events: none;
}

.settings-header,
.settings-container {
    position: relative;
    z-index: 1;
}
.settings-header > span {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    background: #eef0ff;

    font-size: 26px;
}

.settings-header h1 {
    margin: 0 0 6px;
    color: #172033;
}

.settings-header p {
    margin: 0;
    color: #7a8495;
}

.settings-container {
    max-width: 900px;
}

.settings-card {
    margin-bottom: 20px;
    padding: 25px;

    background: white;

    border: 1px solid #e7ebf0;
    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(23, 32, 51, 0.06);
}

.settings-card h2 {
    margin: 0 0 15px;

    color: #172033;
    font-size: 19px;
}

.setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    padding: 18px 0;

    border-top: 1px solid #edf0f3;
}

.setting-row strong {
    color: #172033;
}

.setting-row p {
    margin: 5px 0 0;
    color: #7a8495;
    font-size: 13px;
}

.setting-row button {
    padding: 9px 18px;

    border: none;
    border-radius: 9px;

    background: #087f9c;
    color: white;

    cursor: pointer;
    font-weight: 600;
}



.switch {
    position: relative;

    width: 48px;
    height: 25px;

    flex-shrink: 0;
}

.switch input {
    display: none;
}

.switch span {
    position: absolute;
    inset: 0;

    border-radius: 20px;

    background: #ccd2d9;

    cursor: pointer;

    transition: 0.3s;
}

.switch span::before {
    content: "";

    position: absolute;

    width: 19px;
    height: 19px;

    left: 3px;
    top: 3px;

    border-radius: 50%;

    background: white;

    transition: 0.3s;
}

.switch input:checked + span {
    background: #087f9c;
}

.switch input:checked + span::before {
    transform: translateX(23px);
}